<div id="main">
	<h1> About Camp </h1>
	<p><span class="image left"><%= image_tag("DSC01907.jpg", :alt =>" DSC01906") %></span>

Welcome to the newly built tourist resort on the island of Mevaer in the Nord-Norge region.
The facility consists of two apartments and is intended for lovers of sea fishing, hiking, mountain climbing, scuba-diving and tourists who want to relax in a place far away from the hustle and bustle of cities. We have a private quay and boats. On site there is a barbecue, a smokehouse and a compressor for scuba divers.<br><br>

The first apartment consists of four single rooms and two double rooms. It has 2 bathrooms, a laundry room, a drying room, a modernly equipped kitchen and a large terrace with a beautiful view of the neighboring islands. The second apartment has four double rooms, a kitchen, a bathroom, a toilet and a terrace with an equally beautiful view. Near the kea there is a gallery of paintings depicting the beauty of Norway and, in particular, the area of ​​the municipality of Gildeskal. We offer accommodation, fishing trips and rest in an incredibly picturesque corner. Self-catering; there is a possibility of ordering food in the store on the mainland (Vag village), which can be delivered by ferry directly to the island. Free Wi-Fi is available.<br><br>
<span class="image right"><%= image_tag("DSC01906.jpg", :alt =>" DSC01906") %></span>

By taking advantage of the rest in our resort you will experience incredible impressions connected with the observation of the wonderful fauna and flora as well as the northern lights during the winter.Seafood lovers will be delighted with its richness. They can enjoy many species of fish, crabs, shells of St.Jacob, etc.   Connection to the mainland or with neighboring islands - daily ferry. The nearest airport is Bodo. The resort will be open from March 2019. You're welcome.<br><br>

Soon it will be possible to make reservation. We offer our guests 4 single rooms and 2 double rooms.
Come and see how captivating the Mevaer Camp is! 
	</p>

</div>