<div id="main">
	<h1> About Camp </h1>
	<p> Mevaer Camp is a great place to relax for those who want to take break from the city life.
		Situated on the extremely picturesque island – Mevaer, inhabited by only four people. The former school building has been renovated and converted into a resort.</br></br>
	
		Crystal clear and cool waters are a paradise for divers and fishermen. The proximity of wilderness inspires and delights every day. Nearby there is a bird reserve and an old fishing village. It is an ideal place for those who want to admire the Northern lights and a breathtaking landscape.</br> </br>

		Soon it will be possible to make reservation. We offer our guests 4 single rooms and 2 double rooms.
		Come and see how captivating the Mevaer Camp is! 
	</p>

</div>