<div id="main">
	<h1> About Camp </h1>
	<p>
		Soon it will be possible to make reservation. We offer our guests 4 single rooms and 2 double rooms.
		Come and see how captivating the Mevaer Camp is! 
	</p>

</div>