<div id="main">
	<footer id="footer">
            <section>
              <h2 class="page_title">Have You a question?</h2>
				      <p> Write to us! </p>
            </section>
            <section class="split contact">
              <section class="alt">
                <h3>Address</h3>
                <p>Mevaer 24<br />
                8094 Fleinvar<br/>
                Norway</p>
              </section>
              <section>
                <h3>Phone</h3>
                <p>+47 477 33 058</p>
              </section>
              <section>
                <h3>Email</h3>
                <p><a href="#">mevaercamp@gmail.com</a></p>
              </section>
              <section>
                <h3>Social</h3>
                <ul class="icons alt">
                  <li><%= link_to '', "https://www.facebook.com/Mevaer-Camp-304291830126407/", class: "icon alt fa-facebook" %></li>
                </ul>
              </section>
            </section>
          </footer>