<div id="main">
	<h1>Main Page</h1>
	<p><span class="image left"><%= image_tag("DSC01905.jpg", :alt =>" DSC01905") %></span> Mevaer Camp is a great place to relax for those who want to take break from the city life.
		Situated on the extremely picturesque island – Mevaer, inhabited by only four people. The former school building has been renovated and converted into a resort.</br></br>
	
		Crystal clear and cool waters are a paradise for divers and fishermen. The proximity of wilderness inspires and delights every day. Nearby there is a bird reserve and an old fishing village. It is an ideal place for those who want to admire the Northern lights and a breathtaking landscape.</br>
	</p>
</div>