<div id="main">
  <div id="posts" class="transitions-enabled">
    <h1>Gallery</h1>
    <% @posts.each do |post| %>
      <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
          <div class="col-4">
            <span class="image fit">
              <%= link_to image_tag(post.image.url(:medium)), post %>
              <%= link_to 'Edit', edit_post_path(post), class: 'button primary small' %>
              <%= link_to 'Delete', post, class: 'button small', method: :delete, data: { confirm: "Are you sure?"} %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
    <br>
    <%= link_to 'New Post', new_post_path, class: 'button primary small' %>
  </div>
</div>
