<div id="main">
	<div id="posts" class="transitions-enabled">
		<%= image_tag @post.image.url(:large) %>
		<strong>Description:</strong>
  	<%= @post.description %><br>
		<%= link_to 'Edit', edit_post_path(@post), class: 'button primary small' %>
		<%= link_to 'Back', posts_path, class: 'button small'%>
	</div>
</div>